{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
    <h3> ChatOW </h3>
    <div>
        <label>Name:</label>
        <input 
            type="text" 
            placeholder="Choose a nickname!" 
            name="name" 
            value="{{name}}"
        />
    </div>
    <div class="join">
        <input type="text" placeholder="Enter a room code" name="code" value="{{code}}" />
        <button type="submit" name="join">Join a Room</button> 
    </div>
    <button type="submit" name="create" class="create-btn">Create a Room</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}